<%- include('includes/head')%>
<%- include('includes/nav')%>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-5">
      <h1 class="text-center">Agenda</h1>

      <%- include('includes/messages') %>

      <% if(contatos.length > 0) { %>
        <p class="text-center lead">Seus contatos estão abaixo.</p>
        
        <div class="responsive-table">
          <table class="table my-4">
            <tr>
              <td>Nome</td>
              <td>Sobrenome</td>
              <td>Tel</td>
              <td>Email</td>
              <td>Editar</td>
              <td>Del</td>
            </tr>
            <% contatos.forEach(contato => { %>
            <tr>
              <td><%= contato.nome %></td>
              <td><%= contato.sobrenome %></td>
              <td><%= contato.telefone %></td>
              <td><%= contato.email %></td>
              <td><a style="text-decoration: none " href="/contato/index/<%= contato._id %>">Editar</a></td>
              <td><strong><a class="text-danger" style="text-decoration: none " href="/contato/delete/<%= contato._id %>">X</a></strong></td>
            </tr>
            <% }); %>
          </table>
        </div>
      <% } else { %>
        <p class="text-center lead">Não existem contatos na sua agenda.</p>
      <% } %>
    </div>

    <div class="col-lg-2"></div>

  </div>
</div>

<%- include('includes/footer')%>